@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.html__main-title_black {
    font: normal bold 75px Roboto;
    color: #000;
}

.html__title_white {
    font: normal bold 55px Roboto;
    color: #fff;
}

.html__title_black {
    font: normal bold 55px Roboto;
    color: #000;
}

.html__title_blue {
    font: normal bold 55px Roboto;
    color: #014dd6;
}

.html__subtitle_white_normal {
    font: normal 36px Roboto;
    color: #fff;
}

.html__subtitle_white_medium {
    font: normal 36px Roboto;
    color: #fff;
}

.html__main-text_black {
    font: normal 30px Roboto;
    color: #000;
}

.html__main-text_white {
    font: normal 30px Roboto;
    color: #fff;
}

.html__text_black {
    font: normal 28px Roboto;
    color: #000;
}

.html__text_white {
    font: normal 28px Roboto;
    color: #fff;
}

.html__subtext_white {
    font: normal 24px Roboto;
    color: #fff;
}

.html__subtext_black {
    font: normal 20px Roboto;
    color: #000;
}

.html__subtext_grey {
    font: normal 20px Roboto;
    color: #888888;
}

@media screen and (max-width: 1280px) {
    .html__main-title_black {
        font-size:62px;
    }
    
    .html__title_white {
        font-size:48px;
    }
    
    .html__title_black {
        font-size:48px;
    }
    
    .html__title_blue {
        font-size:48px;
    }
    
    .html__subtitle_white_normal {
        font-size:24px;
    }
    
    .html__subtitle_white_medium {
        font-size:27px;
    }
    
    .html__main-text_black {
        font-size:22px;
    }
    
    .html__main-text_white {
        font-size:24px;
    }
    
    .html__text_black {
        font-size:28px;
    }
    
    .html__text_white {
        font-size:24px;
    }
    
    .html__subtext_white {
        font-size:20px;
    }
    
    .html__subtext_black {
        font-size:18px;
    }
    
    .html__subtext_grey {
        font-size:18px;
    }
  }

  @media screen and (max-width: 992px) {
    .html__main-title_black {
        font-size:55px;
    }
    
    .html__title_white {
        font-size:55px;
    }
    
    .html__title_black {
        font-size:55px;
    }
    
    .html__title_blue {
        font-size:55px;
    }
    
    .html__subtitle_white_normal {
        font-size:24px;
    }
    
    .html__subtitle_white_medium {
        font-size:27px;
    }
    
    .html__main-text_black {
        font-size:22px;
    }
    
    .html__main-text_white {
        font-size:24px;
    }
    
    .html__text_black {
        font-size:28px;
    }
    
    .html__text_white {
        font-size:24px;
    }
    
    .html__subtext_white {
        font-size:20px;
    }
    
    .html__subtext_black {
        font-size:18px;
    }
    
    .html__subtext_grey {
        font-size:18px;
    }
  }