.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

html {
    scroll-behavior: smooth;
  }

.html_margin {
    margin: 0 110px;
  }

.html_padding {
    padding: 0 110px;
  }

ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .html_margin {
    margin: 0 105px;
  }

.html_padding {
    padding: 0 105px;
  }
}

@media screen and (max-width: 992px) {
  .html_margin {
    margin: 0 55px;
  }

  .html_padding {
    padding: 0 55px;
  }
}